.barack-obama-image {
    /* width: 60%; */
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    margin-top: -2em;
    margin-bottom: -2em;
    opacity: 0;
    animation: fadeIn 4s forwards;
    z-index: -100;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.offset-right {
    margin-top: 7.5%;
    margin-left: 45%;
    margin-right: 15%;
}

@keyframes fadeIn {
    20% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.text-group div {
    opacity: 0%;
    animation: fadeInFromLeft 7s ease forwards;
    animation-delay: calc(var(--order)*200ms);
}

@keyframes fadeInFromLeft {
    20% {
        opacity: 0;
        transform: translateX(-50%);
    }

    30%, 100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.selector-bar {
    height: 5.5em;
    width: 102.1%;

    position: fixed;
    bottom: 0px;
    margin-left: -2em;
    margin-right: -2em;

    animation: appearFromLeft 1s linear; 
}

@keyframes appearFromLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.selector-circle-set {
    border: 1px solid #666;
    position: absolute;
    bottom: 0px;
    margin-left: 50%;
    width: 50%;
}

.selector-circle {
    max-width: 20%;
    max-height: 20%;
    margin-left: 7%;
    opacity: 0;
    transition: opacity 0.15s ease-out 100ms;
}

.selector-circle:hover {
    opacity: 1;
    /* opacity: 1; */
}