:root {
    --circle-size: 100px;
}

.fade-in-image {
    /* width: 60%; */
    /* position: absolute;
    left: 0px;
    top: 0px; */
    height: 100vh;
    margin-top: -2em;
    margin-bottom: -2em;
    opacity: 0;
    animation: fadeIn 3s forwards;
    z-index: -100;
}

.isaac-lee-image {
    /* position: absolute; */
    /* left: 0px;
    top: 0px; */
    max-height: 80%;
    max-width: 80%;
    margin-bottom: 5%;
    opacity: 0;
    animation: fadeIn 3s forwards;
    z-index: -100;
    margin-top: 4%;
    margin-left: 10%;
    border: solid 10px #111111;
    border-radius: 5px;
}

.image-item {
    position: absolute;
    width: 25%;
    margin-top: 4%;
    margin-left: 10%;
    border: solid 2px #111111;
    border-radius: 5px;
    z-index: calc(var(--order)*10);
}

.activism-image {
    top: 20%;
    left: 20%;
}

.community-voices-image {
    left: -5%;
}

.i-voted-image {
    top: 30%;
    left: -2%;
}

.image-group .image-item {
    opacity: 0%;
    animation: fadeIn 3s forwards;
    animation-delay: calc(var(--order)*750ms);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.offset-right {
    margin-top: 5%;
    margin-left: 50%;
    margin-right: 15%;
}

.offset-left {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 30%;
}

@keyframes fadeIn {
    20% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.text-group {
    margin-bottom: 10em;
}

.text-group .text-item {
    opacity: 0%;
    animation: fadeInFromLeft 7s ease forwards;
    animation-delay: calc(var(--order)*200ms);
}

.text-item {
    font-size: 12px;
}

.even-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.uneven-grid {
    display: grid;
    grid-template-columns: 60% 40%;
}

.title {
    font-size: 36px;
}

.text-resume {
    margin-bottom: 7em;
}

.resume-list {
    margin-left: -5em;
    font-size: 16px;
}

@keyframes fadeInFromLeft {
    20% {
        opacity: 0;
        transform: translateX(-50%);
    }

    30%,
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.selector-bar {
    height: 5.5em;
    width: 110%;

    position: fixed;
    bottom: 0px;
    margin-left: -2em;
    margin-right: -2em;

    z-index: 100;

    animation: appearFromLeft 1s linear;
}

@keyframes appearFromLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}


.selector-circle-set {
    /* border: 1px solid #666; */
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 25vh 25vh 25vh;
    margin-left: 50%;
    justify-content: center;

    margin-bottom: -10px;
    width: 50%;
    z-index: 200;
}

.selector-circle {
    /* border: solid 1px #666; */
    position: relative;
    left: 0;
    top: 0;
}


.selector-circle-label {
    max-width: 100px;
    max-height: 100px;
    opacity: 0.1;
}

/* Make background expand when hovering over the circle */
.selector-circle:hover .selector-circle-background {
    opacity: 1;
    z-index: 0;
}

.selector-circle:hover .selector-circle-label {
    opacity: 1;
}

.selector-circle-background {
    max-width: var(--circle-size);
    max-height: var(--circle-size);
    opacity: 0;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: 0;
    /* transition: opacity z-index 0.5s ease-out 100ms; */
}

.selector-circle-link {
    max-width: var(--circle-size);
    max-height: var(--circle-size);
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 2%;
}

/* testing @media tag */
/* Tablet */
@media only screen and (max-width: 960px) {

    /* Home Page */

    .barack-obama-image {
        position: absolute;
        left: -9999999px;
    }

    /* General Layout */

    .even-grid {
        display: flex;
        flex-direction: column;
        margin-bottom: 10em;
    }
    
    .uneven-grid {
        display: flex;
        flex-direction: column;
        margin-bottom: 10em;
    }

    .uneven-grid .even-grid {
        margin-bottom: 0em;
    }

    .text-item {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 18px;
    }

    .selector-circle-set {
    /* border: 1px solid #666; */
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 7em 7em 7em;
    margin-left: 25%;
    justify-content: center;

    margin-bottom: -10px;
    width: 50%;
    z-index: 200;
    }

    /* Resume Page */

    .offset-left {
        margin-left: 0;
        margin-right: 0;
    }

    .text-resume {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .resume-list {
    margin-left: -3em;
    margin-right: -3em;
    }

    /* Values Page */

    .image-group {
        visibility: hidden;
    }

    .text-center {
        text-align: center;
    }
}